@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

p {
	color: gray;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}

.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: gray;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}

.section-title span {
	color: gray;
}


.cta {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid gray;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	transition: 0.3s ease;
	transition-property: background-color, color;
}

.cta:hover {
	color: white;
	background-color: gray;
}

.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}

.brand h1 span {
	color: gray;
}

/* Header section */

#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100%;
	height: auto;
}

/* nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    padding: 25px 35px;
    font-family: "poppins",sans-serif;
    backdrop-filter: blur(8px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
}

nav li a {
    margin-left: 40px;
	font-weight: 400;
}

nav a {
    color: #ffffff;
    letter-spacing: 1px;
    text-decoration: none;
}

nav a:hover {
    color: gray;
} */

nav {
	height: 80px;
	width: 100%;
	background: #34495e;
	top: 0;
	position: fixed;
}

label.logo {
	font-size: 35px;
	font-weight: bold;
	color: white;
	padding: 0 100px;
	line-height: 80px;
}

nav ul {
    float: right;
	margin-right: 40px;
}

nav li {
	display: inline-block;
	margin: 0 8px;
	line-height: 80px;
}

nav a {
	color: white;
	font-size: 18px;
	text-transform: uppercase;
	border: 1px solid transparent;
	padding: 7px 10px;
	border-radius: 3px;
}

a.active,a:hover {
	border: 1px solid white;
	transition: .5s;
}

nav #icon {
	color: white;
	font-size: 30px;
	line-height: 80px;
	float: right;
	margin-right: 40px;
	margin-left: 40px;
	cursor: pointer;
	display: none;
}

@media (max-width: 1048px){
	label.logo {
		font-size: 32px;
		padding-left: 60px;
	}
	nav ul {
		margin-right: 20px;
	}
	nav a {
		font-size: 17px;
	}
}

@media (max-width: 909px){
	nav #icon {
		display: block;
	}
	nav ul {
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #2f3640;
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all .5s;
	}
	nav li {
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}
	nav a {
		font-size: 20px;
	}
	a.active,a:hover{
		border: none;
		color: #3498db;
	}
	nav ul.show {
		left: 0;
	}
}

/* End Header section */

/* Hero Section */

#hero {
	background-image: url(images/hero\ section.webp);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}

#hero::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.7;
	z-index: -1;
}

#hero .hero {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}

#hero h1 {
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: transparent;
	animation: text_reveal 0.5s ease forwards;
	animation-delay: 1s;
}

#hero h1:nth-child(1) {
	animation-delay: 1s;
}

#hero h1:nth-child(2) {
	animation-delay: 2s;
}

#hero h1:nth-child(3) {
	animation: text_reveal_name 0.5s ease forwards;
	animation-delay: 3s;
}

#hero h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: gray;
	animation: text_reveal_box 1s ease;
	animation-delay: 0.5s;
}

#hero h1:nth-child(1) span {
	animation-delay: 0.5s;
}

#hero h1:nth-child(2) span {
	animation-delay: 1.5s;
}

#hero h1:nth-child(3) span {
	animation-delay: 2.5s;
}

/* End Hero Section */

/* about section start */

.about-section{
	padding-top:40px;
}

.about-image {
	position: relative;
}

.about-image::before {
	position: absolute;
	content: '';
	background-image: url(https://i.ibb.co/d6KQxz0/dots.jpg);
	background-position: center center;
	background-size: 100%;
	width: 375px;
	height: 250px;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	z-index: -1;
}

.about-image .single-image {
	width: 360px;
}

.float-left {
	float: left;
}

.about-image .single-image img {
	width: 100%;
}

/* .about-image .single-image.image-tow {
	margin-top: -200px;
	position: relative;
	z-index: 5;
} */

.about-image .single-image {
	width: 360px;
}

.float-right {
	float: right;
}

/* .about-content h3{
	color:#333;
	font-family: 'Poppins', sans-serif;
	padding-bottom:10px;
} */

.about-content p{
	margin-bottom: 0px;
	line-height: 28px;
	letter-spacing: 0.5px;
	color: #646464;
	font-family: 'Poppins', sans-serif;
}

.about-content p span {
    color: black;
}

/* .main-btn {
	display: inline-block;
	font-weight: 600;
	text-align: center;
	border: 1px solid #eb3656;
	padding: 0 30px;
	line-height: 48px;
	color: #fff;
	transition: all .8s ease-out 0s;
	background-color: #eb3656;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-decoration:none;
}

.main-btn:hover{
	background:#333;
	color:#fff;
	border-color:#333;
	transition: all .8s ease-out 0s;
	text-decoration:none;
} */

/* about section end */

/* Projects section */

#projects .projects {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}

#projects .projects-header h1 {
	margin-bottom: 50px;
}

#projects .all-projects {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#projects .project-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
}

#projects .project-info {
	padding: 30px;
	flex-basis: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	color: white;
}

#projects .project-info h1 {
	font-size: 4rem;
	font-weight: 500;
}

#projects .project-info h2 {
	font-size: 1.8rem;
	font-weight: 500;
	margin-top: 10px;
}

#projects .project-info p {
	color: white;
}

#projects .project-img {
	flex-basis: 50%;
	height: 300px;
	overflow: hidden;
	position: relative;
}

#projects .project-img:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: 0.7;
}

#projects .project-img img {
	transition: 0.3s ease transform;
}

#projects .project-item:hover .project-img img {
	transform: scale(1.1);
}

/* End Projects section */

/* contact section start */

.get-in-touch {
	max-width: 800px;
	margin: 50px auto;
	position: relative;
}

.get-in-touch .title {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 4em;
	font-weight: 500;
	/* line-height: 48px; */
	padding-bottom: 48px;
	color: black;
	font-style: sans-serif;
	margin-bottom: 50px;
	/* color: #5543ca;
	background: #5543ca;
	background: -moz-linear-gradient(left,#f4524d  0%,#5543ca 100%) !important;
	background: -webkit-linear-gradient(left,#f4524d  0%,#5543ca 100%) !important;
	background: linear-gradient(to right,#f4524d  0%,#5543ca  100%) !important;
	-webkit-background-clip: text !important;
	-webkit-text-fill-color: transparent !important; */
}

.contact-form .form-field {
	position: relative;
	margin: 32px 0;
}

.contact-form .input-text {
	display: block;
	width: 100%;
	height: 36px;
	border-width: 0 0 2px 0;
	border-color: gray;
	font-size: 18px;
	line-height: 26px;
	font-weight: 400;
}


.contact-form .input-text:focus {
	outline: none;
}

.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label {
	-webkit-transform: translateY(-24px);
			transform: translateY(-24px);
}

.contact-form .label {
	position: absolute;
	left: 20px;
	bottom: 11px;
	font-size: 18px;
	line-height: 26px;
	font-weight: 400;
	color: black;
	cursor: text;
	transition: -webkit-transform .2s ease-in-out;
	transition: transform .2s ease-in-out;
	transition: transform .2s ease-in-out, 
    -webkit-transform .2s ease-in-out;
}

.contact-form .submit-btn {
	display: inline-block;
	background-color: #000;
	background-image: linear-gradient( black);
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 16px;
	padding: 8px 16px;
	border: none;
	width:200px;
    cursor: pointer;
}

/* contact section end */

/* footer section start */

.context-dark, .bg-gray-dark, .bg-primary {
    color: rgba(255, 255, 255, 0.8);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}

.nav-list-footer li {
    padding-top: 5px;
    padding-bottom: 5px;
	font-weight: 400;
	text-decoration: none;
}

.nav-list-footer li a:hover:before {
    /* margin-left: 0; */
    opacity: 1;
    /* visibility: visible; */
	font-weight: 400;
}

.ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
	text-decoration: none;
}

.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
	font-weight: 600;
}

.social-container .col {
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-list-footer li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #4d6de6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
	font-weight: 400;
}

/* footer section end */

/* Keyframes */

/* @keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
} */
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: gray;
		font-weight: 500;
	}
}

/* End Keyframes */

/* Media Query For Tablet */

@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}

	/* Hero */

	#hero h1 {
		font-size: 7rem;
	}

	/* End Hero */


	/* Project */

	#projects .project-item {
		flex-direction: row;
	}

	#projects .project-item:nth-child(even) {
		flex-direction: row-reverse;
	}

	#projects .project-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}

	#projects .all-projects .project-info {
		height: 100%;
	}

	#projects .all-projects .project-img {
		height: 100%;
	}

	/* End Project */

}

/* End Media Query For Tablet */